body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Colour Specs */
.blue {
    background-color: var(--primary-blue);
}
.red {
    background-color: var(--primary-red);
}
.yellow {
    background-color: var(--primary-yellow);
}
.green {
    background-color: var(--primary-green);
}
.orange {
    background-color: var(--primary-orange);
}
.purple {
    background-color: var(--primary-purple);
}
/* Component Specs */
.main-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}