:root {
    /* Base Colours */
    --base-colour: 221, 50%;
    --alt-colour: 48, 83%;

    /* colour Palette */
    --palette-colour-10: var(--base-colour), 10%;
    --palette-colour-20: var(--base-colour), 20%;
    --palette-colour-30: var(--base-colour), 30%;
    --palette-colour-40: var(--base-colour), 40%;
    --palette-colour-50: var(--base-colour), 50%;
    --palette-colour-60: var(--base-colour), 60%;
    --palette-colour-70: var(--base-colour), 70%;
    --palette-colour-80: var(--base-colour), 80%;
    --palette-colour-90: var(--base-colour), 90%;
    --palette-colour-100: var(--base-colour), 100%;
    --secondary-colour-10: var(--alt-colour), 10%;
    --secondary-colour-20: var(--alt-colour), 20%;
    --secondary-colour-30: var(--alt-colour), 30%;
    --secondary-colour-10: var(--alt-colour), 10%;
    --secondary-colour-40: var(--alt-colour), 40%;
    --secondary-colour-50: var(--alt-colour), 50%;
    --secondary-colour-60: var(--alt-colour), 60%;
    --secondary-colour-70: var(--alt-colour), 70%;
    --secondary-colour-80: var(--alt-colour), 80%;
    --secondary-colour-90: var(--alt-colour), 90%;
    --secondary-colour-100: var(--alt-colour), 100%;

    /* Primary Selection */
    --primary-colour: hsla(var(--palette-colour-50),100%);
    --primary-colour-0: hsla(var(--palette-colour-50),0%);
    --primary-colour-80: hsla(var(--palette-colour-50),80%);
    --second-colour: hsla(var(--secondary-colour-50),100%);
    --second-colour-80: hsla(var(--secondary-colour-50),80%);
}

