:root {
    /* Base Colours */
    --base-colour: 196, 100%, 25%;
    --alt-colour: 48,83%,50%;

    /* colour Palette
    --palette-colour-10: var(--base-colour), 10%;
    --palette-colour-20: var(--base-colour), 20%;
    --palette-colour-30: var(--base-colour), 30%;
    --palette-colour-40: var(--base-colour), 40%;
    --palette-colour-50: var(--base-colour), 50%;
    --palette-colour-60: var(--base-colour), 60%;
    --palette-colour-70: var(--base-colour), 70%;
    --palette-colour-80: var(--base-colour), 80%;
    --palette-colour-90: var(--base-colour), 90%;
    --palette-colour-100: var(--base-colour), 100%; */

    /* Primary Selection */
    --primary-colour: hsla(var(--base-colour),100%);
    --primary-colour-80: hsla(var(--base-colour),80%);
    --second-colour: hsla(var(--alt-colour),100%);
    --second-colour-80: hsla(var(--alt-colour),80%);
}

