nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: transparent;
    z-index: 2
}
nav .nav-list {
    width: 100%;
    padding-left: 0;
    height: 50px;
    margin: 0;
}
nav .nav-list li {
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}
nav .nav-list li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav .nav-list li span {
    text-transform: lowercase;
    color: transparent;
    transition: 0.8s;
}
nav .nav-list li:hover span {
    color: inherit;
}
/*
.colour-bar {
    width: 230px;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0px;
    right: -180px;
}
.colour-icon {
    font-size: 25px;
    width: 30px;
    height: 40px;
    display: inline-flex;
    padding: 0 7.5px;
    align-items: center; 
}
.colour-bar-array { 
    height: 40px;
    display: flex;
    align-items: center;
    border-left: 0;
}
.colour-btn {
    width: 25px !important;
    height: 25px;
    border: 0;
    border-radius: 50%;
    margin: 2.5px;
    cursor: pointer;
}
.colour-btn:focus, .colour-btn:active{
    outline: none;
}*/