#welcomeContainer {
    display: flex;
    justify-content: space-around;
}
/* Shields */
.shieldLink {
    height: 300px;
    width: 200px;
    position: relative;
}
.shieldFront {
    position: absolute;
    box-sizing: border-box;
    z-index: 3;
    left: 40px;
    height: 300px;
    width: 120px;
    background-color: var(--primary-colour);
}
.shieldSquare {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    top: 75px;
    left: 25px;
    height: 150px;
    width: 150px;
    border: 10px solid #EAC117;
    background-color: #fff;
}
/* Colour Bar */
.colour-bar {
    width: 250px;
    height: 40px;
    display: flex;
    position: fixed;
    bottom: 20px;
    left: -200px;
    transition: 0.8s;
}
.colour-bar:hover {
    left: 0px;
}
.colour-icon {
    font-size: 25px;
    width: 25px;
    height: 40px;
    display: inline-flex;
    padding: 0 7.5px;
    align-items: center; 
    color:  hsla(var(--palette-colour-50),30%);
    transition: 0.8s;
}
.colour-bar:hover .colour-icon {
    color: hsla(var(--palette-colour-50),100%)
}
.colour-bar-array { 
    height: 40px;
    display: flex;
    align-items: center;
    border-left: 0;
    margin: 0 20px;
    transition: 0.8s;
}
.colour-bar:hover .colour-bar-array{
    margin-right: 0;
}
.colour-btn {
    width: 25px !important;
    height: 25px;
    border: 0;
    border-radius: 50%;
    margin: 2.5px;
    cursor: pointer;
    transition: 0.5s;
}
.colour-btn:hover {
    transform: scale(1.2);
}
.colour-btn:focus, .colour-btn:active{
    outline: none;
}