@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap');

@font-face { 
    font-family: 'Norwester';
    src: url('./Fonts/norwester.woff') format('woff');
}

@font-face {
    font-family: 'Lovelo';
    src: url('./Fonts/lovelo_black.woff') format('woff');
}