#welcome-container {
    width: 100vw;
    height: 100vh;
    border: 10px solid hsla(var(--palette-colour-100),100%);
    background-image: linear-gradient(335deg,hsla(var(--palette-colour-10),100%),hsla(var(--palette-colour-20),100%),hsla(var(--palette-colour-30),100%),hsla(var(--palette-colour-40),100%))
}
a {
    text-decoration: none !important;
}
#welcome-container h4 {
    margin: 0;
    text-transform: uppercase;
    color: hsla(var(--palette-colour-100),100%);
    font-family: 'Raleway';
    font-weight: 400;

}
#portal {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid hsla(var(--palette-colour-100),100%);
    top: calc(50vh - 110px);
    right: calc(50vw - 110px);
}
#portal svg {
    transition: 0.8s;
}
#portal svg:hover {
    transform: rotate(180deg);
    transform-origin: center center;
}
#portal g{
    fill: hsla(var(--palette-colour-100),100%);
}
