/*#binary-background {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    font-size: 12px;
    word-wrap: break-word;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0.4;
    -webkit-touch-callout: none; iOS Safari
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
#welcome-container {
    width: 100vw;
    height: 100vh;
    border: 10px solid hsla(var(--palette-colour-100),100%);
    background-image: linear-gradient(335deg,hsla(var(--palette-colour-10),100%),hsla(var(--palette-colour-20),100%),hsla(var(--palette-colour-30),100%),hsla(var(--palette-colour-40),100%))
}
a {
    text-decoration: none !important;
}
#topbar {
    height: 75px;
}
#topbar *{
    margin: 0;
    font-family: 'Lovelo';
    text-transform: uppercase;
    color: hsla(var(--palette-colour-100),100%);
}
#portal {
    margin-top: calc(50vh - 195px);
    margin-left: calc(100vw - 350px);
}
#portal svg {
    transition: 0.8s;
}
#portal svg:hover {
    transform: rotate(180deg);
    transform-origin: center center;
}
#portal g{
    fill: hsla(var(--palette-colour-90),100%);
}
